.container
    .row
        .row-lg-12
            h1 Welcome!
            p Please enter your new password
            form(ng-submit="resetPassword()")
                input(type="password" ng-model="newPassword" placeholder="Password")
                input(type="password" ng-model="confirmPassword" placeholder="Confirm Password")
                button.btn.btn-succes(type="submit") Submit

