style.
  .panel {
    margin: 0;
  }

  .auth-toggle a:hover, a:visited, a:link, a:active {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
  }

.panel.panel-default
  .panel-body
    | WELCOME
