//
   Created by Cerberus on 30/03/2017.

//.progress-circle.progressBar(ng-class="getProgressValue()")
    span {{currentQuestionnaire}} {{progressValue}}%
    .left-half-clipper
        .first50-bar
            .value-bar
