//
   Created by slunn002 on 27/04/2018.
div(id="adPolicyPopup").adPolicy-div
    .modal-content.adPolicy-content
        .modal-header
            span.close(ng-click="cancel()") &times;
            img.logo-popup-login(src= "img/eEVA_LogoWhite.png")
            center
                h2 Ad Policy
        .modal-body.adPolicy-body
            p We do not plan to have any ads on this web site. Having ads could potentially compromise your privacy. Instead of relying on ads, we ask users to support the site if they find it helpful.
