//
   Created by slunn002 on 27/04/2018.
div(id="copyrightPopup").copyright-div
    .modal-content.copyright-content
        .modal-header
            span.close(ng-click="cancel()") &times;
            img.logo-popup-login(src= "img/eEVA_LogoWhite.png")
            center
                h2 Copyright & Patent Pending
        .modal-body.copyright-body
            p This program is copyrighted by Dr. Reid Hester 2013 and is patent pending.
            p All virtual characters are the property of the VISAGE laboratory.
