//
   Created by Cerberus on 29/03/2017.

div
    .modal-content
        .modal-header
            span.close(ng-click="close()") &times;
            img.logo-popup(src= "img/eEVA_LogoWhite.png")
            center
                h2 Pause

        .modal-body

        .modal-footer
            center
                button.btn.btn-success(style='width:100px;') Resume