#character(style="height:100%;")
    #gameContainer
        #canvas
//#part3d.fullCanvas
  canvas#canvas.fullCanvas




<htmlInjector kind="type1"></htmlInjector>
<htmlInjector kind="type2"></htmlInjector>
<htmlInjector kind="type3"></htmlInjector>
<htmlInjector kind="type4"></htmlInjector>