//
    navBar as modified by slunn002 and adela on 03/27/2017

nav.navbar-inverse.myNavbar
    div.navBar

        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapsed-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-logo.navbar-brand(ng-click="redirect('welcome')")
                img(style='max-width:100px; margin-top: -20px;', src= "img/eEVA_LogoWhite.png")
        #navbar-collapsed-1.collapse.navbar-collapse
            ul.nav.navbar-nav.nav-menu
                //Remove counselor selection until we fix being able to swtich in the middle of session
                //span.dropdown My Preferences
                //    div.dropdown-content
                //        a(ng-click="redirect('home')") My Account
                //        a(ng-click="myCounselor()") Counselor Choice
                //        a(ng-click="redirect('home')") Location Choice
                span(ng-click="myProgress()") My Progress
                span.dropdown Resources
                    div.dropdown-content
                        a(ng-click="redirectNewTab('https://www.moderatedrinking.com/home/default_home.aspx?p=register_login')") Moderate Drinking™ app
                        a(ng-click="redirectNewTab('http://www.moderation.org/')") Moderation Management

                span.dropdown About
                    div.dropdown-content
                        a(ng-click="privacyOpen()") Privacy & Confidentiality
                        a(ng-click="aboutUsOpen()") About Us/Contact Us
                        a(ng-click="adPolicyOpen()") Ad Policy
                        a(ng-click="copyrightOpen()") Copyright/Patent Info
                        a(ng-click="limitationsOpen()") Limitations
            div.pull-right
                span.welcomeLabel(ng-show="currentUser") {{userGivenName}}
                ul.nav.navbar-nav.pull-right
                    div(ng-show="currentUser")
                        div(ng-hide="mode.isTempUser")
                            //li
                                //a(ng-click="logout()")
                                //    span.glyphicon.glyphicon-log-out
                                //    |  Log Out
                            #logoutPopupLaunch.button.btn.btn-warning.login-out-button(ng-click="logout()")
                                span.glyphicon.glyphicon-log-out
                                |  Log Out
                        div(ng-show="mode.isTempUser")
                            //li
                                //a(ng-click="loginActivation()")
                                //    span.glyphicon.glyphicon-log-in
                                //    |  Login
                            #loginTempPopupLaunch.button.btn.btn-info.login-out-button(ng-click="loginActivation()")
                                span.glyphicon.glyphicon-log-in
                                |  Login
                    div(ng-hide="currentUser")
                        div
                            //li
                                //a(ng-click="loginActivation()")
                                //    span.glyphicon.glyphicon-log-in
                                //    |  Login
                            #loginPopupLaunch.button.btn.btn-info.login-out-button(ng-click="loginActivation()")
                                span.glyphicon.glyphicon-log-in
                                |  Login


#loginNEWPopup.loginNEW-div(ng-show="mode.loginActivated")
    .loginNEW-content
        .loginNEW-header
            // span.close(ng-click="cancel()") &times;
            #loginClose.button(type='button', ng-click='deactivateLoginPopup()').pull-right
                span.glyphicon.glyphicon-remove
            img.logo-popup-login(src='img/eEVA_LogoWhite.png')
        .loginNEW-body
            .alert(ng-repeat='alert in alerts', ng-class='alert.style')
                button.close(ng-click='removeElement(alerts, $index)') x
                strong {{ alert.type }} 
                | {{ alert.message }}
            form(ng-show='mode.optionsActivated').navbarForm
                h2
                    center
                        | Do you want to Login or Register?
                    br
                    button.btn.btn-success(ng-click='loginLoad()', style='width:100px;').center-block Login
                    br
                    button.btn.btn-info(ng-click='registrationLoad()', style='width:100px;').center-block Registration
            #loggingInScreen.div(ng-show='mode.loggingIn')
                form(ng-submit="login()").navbarForm
                    h2
                        center
                            | Login
                    p Username:
                    input(type='text', ng-model='credentials.username', ng-click='authToggle = false')
                    p Password:
                    input(type='password', ng-model='credentials.password', ng-click='authToggle = false')
                    hr
                    button.btn.btn-success(ng-submit='login()', style='width:200px;').center-block Login
                    br
                button.btn.btn-info(ng-click='forgotPWLoad()', style='width:200px;').center-block Forgot Password
            #registrationForm.div(ng-show='mode.register')
                form(ng-submit="testRegistration()").navbarForm
                    h2
                        center
                            | Register
                    p
                        | To register, we will need some information. This allows the counselor to track your progress so that you can pick up where you left at anytime.
                    form(name='registrationForm')
                        #c1.column3
                            p
                                | Username:
                                input(type='text', ng-model='credentials.username')
                            p
                                | Email:
                                input(name='emailInput', type='email', ng-model='credentials.email', required='required')
                            p.help-block.has-error(ng-show='registrationForm.emailInput.$error.email') Not a valid email address.
                            p
                                | Re-Enter Email:
                                input(name='emailConfirm', type='email', ng-model='credentials.confirmemail', required='required')
                            p.help-block.bot-margin-md.has-error(ng-show='registrationForm.emailConfirm.$viewValue !== registrationForm.emailInput.$viewValue && !registrationForm.emailConfirm.$pristine') These emails do not match.
                            p
                                | Password:
                                input(name='passInput', type='password', ng-model='credentials.password', required='required')
                            p
                                | Re-Enter Password:
                                input(name='passConfirm', type='password', ng-model='credentials.confirmpassword', required='required')
                            p.help-block.bot-margin-md.has-error(ng-show='registrationForm.passConfirm.$viewValue !== registrationForm.passInput.$viewValue && !registrationForm.passConfirm.$pristine') These passwords do not match.
                            p
                                | Have you been asked to complete this check up by your primary care provider? {{selectedAnswer}}
                                .radio-selection
                                    label.inline-radio
                                        | Yes
                                        input.md-primary(type='radio', ng-model='selectedAnswer', value='Yes')
                                    label.inline-radio
                                        | No
                                        input.md-primary(type='radio', ng-model='selectedAnswer', value='No')
                        #c2.column3
                            p
                                | First Name:
                                input(type='text', ng-model='credentials.firstname', required='required')
                            //p
                            //    | Last Name:
                            //    input(type='text', ng-model='credentials.lastname')
                            p
                                | Gender:
                                select(ng-model='gender', ng-change='changeGender(gender)', data-ng-options='g as g for g in genderType', required='required')
                                    option(value='') ---Please Select---
                            p
                                | Date of Birth:
                                input(type='date', ng-model='credentials.dateOfBirth', required='required')
                            p
                                | Weight in Pounds (lbs):
                                input(type='text', ng-model='credentials.weight', required='required')
                            p
                                | Height:
                                #c4.column2
                                    span Feet
                                    input(type='text', ng-model='credentials.height.feet', required='required')
                                //#c5.column4
                                #c6.column2
                                    span Inches
                                    input(type='text', ng-model='credentials.height.inches', required='required')
                        #c3.column3
                            p
                                | Marital Status:
                                select(ng-model='maritalStatus', ng-change='changeMaritalStatus(maritalStatus)', data-ng-options='y as y for y in maritalType', required='required')
                                    option(value='') ---Please Select---
                            p
                                | Ethnicity:
                                select(ng-model='ethnicity', ng-change='changeEthnicity(ethnicity)', data-ng-options='e as e for e in ethnicityType', required='required')
                                    option(value='') ---Please Select---
                            p
                                | Education:
                                select(ng-model='education', ng-change='changeEducation(education)', data-ng-options='x as x for x in educationType', required='required')
                                    option(value='') ---Please Select---
                            p
                                | Race:
                                //md-select.multiSelect(ng-model='selectedRace', multiple='', placeholder='---Select---')
                                    md-option.multiOption(ng-repeat='r in raceType') {{r}}
                                .checkbox(ng-repeat='r in raceType')
                                    label
                                        input(type='checkbox',ng-model='r.checked', value='')
                                        | {{r.name}}
                        center
                            button.btn.btn-success(style='width:100px;') Register
            form(ng-show='mode.loggingOut').navbarForm
                h2
                    | Logging Out
                    p Are you sure you want to log out?
                    br
                    center
                        button.btn.btn-warning(ng-click='logout()', style='width:100px;') Yes
                        button.btn.btn-warning.close(ng-click='cancel()', style='width:100px;') No
            div(ng-show='mode.forgotPW')
                form(ng-submit='forgotPassword()').navbarForm
                    h2
                        center
                            | Forgot Password?
                    h3
                        p Please enter your email below to retrieve.
                        br
                        p
                            | Email:
                            input(name='emailInput', type='email', ng-model='credentials.fp_email', required='required')
                        br
                    center
                        button.btn.btn-info(style='width:200px;', type= 'submit') Change My Password
            div(ng-show='mode.updatePW')
                form(ng-submit='changePW()').navbarForm
                    h2
                        center
                            |Password Reset
                    h3
                        p Please enter your new desired password below:
                        br
                        p
                            | Password:
                            input(name='password', type='password', ng-model='credentials.password', required='required')
                        p
                            | Confirm Password:
                            input(name='passwordConfirmation', type='password', ng-model='credentials.confirmpassword', required='required')
                    center
                        button.btn.btn-info(style='width:200px;', type= 'submit') Reset My Password
            //form(ng-show='mode.forgotUN').navbarForm
            //    h2
            //        center
            //            | Forgot Username?
            //    h3
            //        p Please enter your email below to retrieve.
            //        br
            //        p
            //            | Email:
            //            input(name='emailInput', type='email', ng-model='credentials.email', required='required')
            //    center
            //        button.btn.btn-info(ng-submit='retrieveUN()', style='width:200px;') Send My Username
            // .alert(ng-repeat="alert in alerts", ng-class="alert.style")
            // button.close(ng-click="removeElement(alerts, $index)") x
            // strong {{ alert.type }}&nbsp;
            // | {{ alert.message }}
            // form(ng-hide="isLoggedIn" ng-submit="login()")
            // p Username:
            // input(type="text", ng-model="credentials.username", ng-click="authToggle = false")
            // p Password:
            // input(type="password", ng-model="credentials.password", ng-click='authToggle = false')
            // form(ng-show="isLoggedIn")
            // h4 You are currently logged in as: &nbsp;
            //
              strong {{credentials.username}}
              //center
              //    a(ui-sref="notYetMapped") Forgot your username?
              //    br
              //    a(ui-sref="notYetMapped") Forgot your password?