<script>
    $(document).ready(function () {
        window.print();
    });
</script>
<div>
    <h1 style = "color: green;"> The Importance Of Your Reasons</h1>
    <p> Here's your list of the things you like and don't like about your drinking with the most important things at the top of each list. Some people think of them as the pros and cons of changing. What does this comparison say to you? Are the short term good things worth the long term costs? Only you can decide. </p>
    <ul>
        <li>Keep a copy somewhere you'll notice it regularly. Some place like the refrigerator door or the bathroom mirror.</li>
        <li>When you look at the list, really look at it. If you feel things shifting, re-do the list.</li>
        <li>Take it to the next level. Talk about what's important to you with your good friends and family. Getting support from friends and family if you're trying to make a change can really help.</li>
    </ul>

    <div style = " float: left; width: 49%;">
        <p>The good things about drinking. </p>
        <ul>
            <li>It relaxes me.</li>
            <li>It helps me feel sexier and have better sex.</li>
            <li>It helps me tolerate my family.</li>
            <li>When drinking, people are less annoying.</li>
        </ul>
    </div>
    <div style = "float: right; width: 49%;">
        <p>The not so good things about drinking. </p>
        <ul>
            <li>It doesn't last forever.</li>
            <li>Can't afford to drink as much as I would like to.</li>
        </ul>
    </div>
</div>

